/*Couleur arrière plan*/
body {
  background: #e8d6ca;
  margin: auto;
  font-family: "Quicksand", sans-serif;
}

/* FOOTER */

.cont_footer,
.bottom > div {
  display: flex;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  height: 15%;
  margin: 1%;
}

#copyright {
  text-align: center;
  font-size: x-small;
  background-color: #e8d6ca;
  padding-top: 0.5%;
}

#ment_leg {
  font-family: "Quicksand", sans-serif;
  font-size: small;
}
.card-text {
  text-align: justify;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #ffffff;
}
/*MEDIA QUERY TABLETTE*/
@media screen and (min-width: 650px) and (max-width: 1100px) {
  .container {
    margin-top: 200px;
  }
}

@media screen and (max-width: 640px) {
  .container {
    margin-top: 210px;
  }
}
