/*Couleur arrière plan */
body {
  background: #e8d6ca;
  margin: auto;
  font-family: "Quicksand", sans-serif;
}

.articl {
  -webkit-box-shadow: 2px 3px 20px -2px #000000;
  box-shadow: 2px 3px 20px -2px #000000;
  transition: 0.3s ease-in-out;
}

.articl:hover {
  -ms-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  box-shadow: none;
}

/* FOOTER */

.cont_footer,
.bottom > div {
  display: flex;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  height: 15%;
  margin: 1%;
}

#copyright {
  text-align: center;
  font-size: x-small;
  background-color: #e8d6ca;
  padding-top: 0.5%;
}

#ment_leg {
  font-family: "Quicksand", sans-serif;
  font-size: small;
}
/*MEDIA QUERY TABLETTE*/
@media screen and (min-width: 650px) and (max-width: 1100px) {
  .container {
    margin-top: 25%;
  }
}

@media screen and (max-width: 640px) {
  .container {
    margin-top: 37%;
  }
}
