.cont_footer,
    .bottom>div {
        display: flex;
        justify-content: center;
        flex-flow: column;
        text-align: center;
        height: 15%;
        /* margin: 1%; */
    }




    #copyright {
        text-align: center;
        font-size: x-small;
        background-color: #E8D6CA;
        padding-top: 0.5%;
    }

    #ment_leg {

        font-family: 'Quicksand', sans-serif;
        font-size: small;
    }

    .nav-link {
        background: #f1efe7;
        font-family: 'Quicksand', sans-serif;
        color: black;
        height: 20%;
        flex-grow: 1;
        text-align: center;
    }
    
    .nav-link {
        color: black !important;
    }
    
    .border {
        border-color: #6d071a !important;
    }
    .responsiveicons {
        display: none !important;
       
        background-color: #f1efe7;
    }
    .responsiveicons > * {
        padding: 1em;
        border: 1px solid #6d071a;
    }
    #header {
        background: #E8D6CA;
    }
    
    
    .navbar {
        background-color: #E8D6CA;
    }
    
    #logobar {
        width: 35%;
    }
    
    .navbar-nav {
        width: 100%;
        position: absolute;
    }
    
    #responsivelogobar {
        display: none;
    }
    
    .headerbackground {
        background: #E8D6CA;
        margin-top: -3.5em;
        width: 100%;
        background-image: url(images/Logo.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 250px;
        display: none;
        position: absolute;
        top: 0;
        transform: translate(0, 20%);
        z-index: -1;
    }
    
    #logoresponsive {
        margin: auto;
        display: none;
    }
    
    #burger {
        background: #f1efe7;
    }

    #form {
        width: 50%;
        margin: auto;
        font-family: 'Quicksand', sans-serif;
    }

    .btn {
        background-color: #6d071a;
        border: none;
        margin: auto;
        display: block;
        width: 40%;
    }


    
    @media screen and (max-width: 992px) {
        .navbariconpadding {
            display: none;
        }
        .nav-link {
            border-right: 1px solid #6d071a !important;
        }
        .navbartabpadding {
            border-bottom: none !important;
            
        }
        #livraisontab {
            border-bottom: 1px solid #6d071a !important;
        }
        .responsiveicons {
            display: flex !important;
        }
        #logobar {
            display: none;
        }
        .navbar {
            background-color: rgba(255, 255, 255, 0);
        }
        .headerbackground {
            display: block;
        }
    
        #form {
            width: auto;
            margin: 0 2em;
        }
        #contactform {
            margin-top: 250px;
            transition: transform 350ms;
        }
    }
    
    