html, body{
    width: 100%;
    height: 100%;
}
/*Couleur arrière plan */
body{
    background : #E8D6CA;
}

footer{

    background: #f1efe7  ; 
}

h2 , h3 {

    color: #6d071a;
    font-family: "Dancing script", Verdana, Geneva, Arial;
}

html {

    font-family: "Quicksand", Verdana, Geneva, Arial;
    
}


/* FOOTER */


@media screen and (min-width: 650px) {

.cont_footer{
    display: grid;
    height: 15%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr 1fr 1fr;
    grid-template-areas:
        "ne  logo   nl"        
        "ne   .   cont"
        "ne   .   adr"
    }

#nous_ecrire{
    grid-area: ne;
    text-align: start;
}

.cont_footer > img{
    grid-area: logo;
}
#newsletter{
    grid-area: nl;
}

#adress_horaires{
    grid-area: adr;
}

#contacts{
    grid-area: cont;
}

}
